@use '../mixins' as query;

.blog-container {
	min-width: 100%;
	max-height: 1400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
	.blog-paragraph {
		text-transform: uppercase;
		margin-bottom: 30px;
		letter-spacing: 1.5px;
		@include query.for-mobile {
			margin-bottom: 15px;
		}
	}
	.blog-header {
		text-transform: uppercase;
		margin-bottom: 50px;
		letter-spacing: 2px;
		@include query.for-mobile {
			margin-bottom: 15px;
			text-align: center;
			letter-spacing: 1px;
		}
	}
	.blog {
		display: flex;
		flex-direction: column;
		width: 500px;
		height: 300px;
		margin-bottom: 20px;
		@include query.for-mobile {
			width: 300px;
			margin-bottom: 5px;
		}
		.blog-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
		}
		p {
			position: relative;
      width: 70%;
      bottom: 50px;
      left: 10px;
      color: white;
      font-size: small;
      font-weight: bold;
		}
	}
}
